@model IEnumerable<WebgentalIdentity.Models.Cart>
@{
    ViewData["Title"] = "CustomerConfirmOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .card {
        max-width: 1000px;
        margin: 2vh
    }

    .card-top {
        padding: 0.7rem 5rem
    }

        .card-top a {
            float: left;
            margin-top: 0.7rem
        }

    #logo {
        font-family: 'Dancing Script';
        font-weight: bold;
        font-size: 1.6rem
    }

    .card-body {
        padding: 0 5rem 5rem 5rem;
        background-size: cover;
        background-repeat: no-repeat
    }


    .card-top {
        padding: 0.7rem 1rem
    }

    }



    .upper {
        padding: 1rem 0;
        justify-content: space-evenly
    }

    #three {
        border-radius: 1rem;
        width: 22px;
        height: 22px;
        margin-right: 3px;
        border: 1px solid blue;
        text-align: center;
        display: inline-block
    }

    #payment {
        margin: 0;
        color: blue
    }

    .icons {
        margin-left: auto
    }

    form span {
        color: rgb(179, 179, 179)
    }

    form {
        padding: 2vh 0
    }

    input {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247)
    }

        input:focus::-webkit-input-placeholder {
            color: transparent
        }

    .header {
        font-size: 1.5rem
    }

    .left {
        background-color: #ffffff;
        padding: 6vh
    }

        .left img {
            width: 2rem
        }

        .left .col-4 {
            padding-left: 0
        }

    

    .right {
        background-color: #ffffff;
        padding: 5vh
    }

    .col-8 {
        padding: -1px 1vh
    }

    .lower {
        line-height: 2
    }

    .btn {
        background-color: rgb(23, 4, 189);
        border-color: rgb(23, 4, 189);
        color: white;
        width: 100%;
        font-size: 0.7rem;
        margin: 4vh 0 1.5vh 0;
        padding: 1.5vh;
        border-radius: 0
    }

        .btn:focus {
            box-shadow: none;
            outline: none;
            box-shadow: none;
            color: white;
            -webkit-box-shadow: none;
            -webkit-user-select: none;
            transition: none
        }

        .btn:hover {
            color: white
        }

    a {
        color: black
    }

        a:hover {
            color: black;
            text-decoration: none
        }

    input[type=checkbox] {
        width: unset;
        margin-bottom: unset
    }

    #cvv {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.575), rgba(255, 255, 255, 0.541)), url("https://img.icons8.com/material-outlined/24/000000/help.png");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center
    }

        #cvv:hover {
        }
</style>



<center>
    <div class="card" style="border:none;">

        <div class="card-body">

            <div class="row">
                

               
                <div class="col-md-5" style="margin-left:0px !important; margin-right:0px !important;">
                    <div class="right border">
                        <div class="header">Order Summary</div>
                        <p>@ViewBag.CountCart items</p>
                        @foreach (var item in Model)
                        {
                            <div class="row item">
                                <div class="col-4 align-self-center"><img class="img-fluid" src="~/Images/@item.Product.ProfileImage"></div>
                                <div class="col-8">
                                    <div class="row">₹@item.Product.Pprice</div>
                                    <div class="row text-muted">@item.Product.Pname</div>
                                    <div class="row">
                                        Qty:@item.Qauntity_Cart
                                        @{
                                            var subtotal = @item.Product.Pprice * @item.Qauntity_Cart;
                                            <p style="margin-left:100px;"><b>₹@subtotal</b></p>
                                        }

                                    </div>
                                </div>
                            </div>
                        }
                        <hr>
                        <div class="row lower">
                            <div class="col text-left">Subtotal</div>
                            <div class="col text-right">₹@ViewBag.sum</div>
                        </div>
                        <div class="row lower">
                            <div class="col text-left">Delivery</div>
                            @if (ViewBag.sum >= 60000)
                            {
                                <div class="col text-right">Free</div>
                            }
                            else
                            {
                                <div class="col text-right">₹ @ViewBag.DeliveryCharge</div>
                            }

                        </div>
                        <div class="row lower">
                            <div class="col text-left"><b>Total to pay</b></div>
                            <div class="col text-right"><b>₹@ViewBag.Grantotal</b></div>
                        </div>
                        <button class="btn">Place order</button>
                        <p class="text-muted text-center">Complimentary Shipping</p>
                    </div>

                </div>
            </div>
        </div>
        <div> </div>
    </div>
</center>