@model IEnumerable<WebgentalIdentity.Models.Cart>

@{
    ViewData["Title"] = "ManageCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var total = 0;
}
<style>


    .title {
        margin-bottom: 5vh
    }

    .card {
        margin: auto;
        max-width: 950px;
        width: 100%;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1rem;
        border: transparent
    }


    .cart {
        background-color: #fff;
        padding: 4vh 3vh;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem
    }


    .summary {
        background-color: #ddd;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 3vh;
        color: rgb(65, 65, 65)
    }


        .summary .col-2 {
            padding: 0
        }

        .summary .col-10 {
            padding: 0
        }

    .row {
        margin: 0
    }

    .title b {
        font-size: 1.5rem
    }

    .main {
        margin: 0;
        padding: 2vh 0;
        width: 100%
    }

   @* .col-2,
    .col {
        padding: 0 1vh
    }*@

    a {
        padding: 0 1vh
    }

    .close {
        margin-left: auto;
        font-size: 0.7rem
    }

    img {
        width: 3.5rem
    }

    .back-to-shop {
        margin-top: 4.5rem
    }

    h5 {
        margin-top: 4vh
    }

    hr {
        margin-top: 1.25rem
    }

    form {
        padding: 2vh 0
    }

    select {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1.5vh 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247)
    }

    input {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247)
    }

        input:focus::-webkit-input-placeholder {
            color: transparent
        }

    .btn-checkout {
        background-color: #000;
        border-color: #000;
        color: white;
        width: 100%;
        font-size: 0.7rem;
        margin-top: 4vh;
        padding: 1vh;
        border-radius:5px
    }
    .btn-checkout:hover{
        background-color:white;
        color: darkred!important;
        font-weight: bold
    }

    .btn-checkout:focus {
        box-shadow: none;
        outline: none;
        box-shadow: none;
        color: white;
        -webkit-box-shadow: none;
        -webkit-user-select: none;
        transition: none
    }

        .btn-checkout:hover {
            color: white
        }

    a {
        color: black
    }

        a:hover {
            color: black;
            text-decoration: none
        }

    #code {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center
    }
</style>

<div class="card">
    <div class="row">
        <div class="col-md-9 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">@ViewBag.CountCart items</div>
                </div>
            </div>

            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {

                    <div class="row border-top border-bottom">

                        <div class="row main align-items-center">

                            <div class="col-sm-2"><img class="img-fluid" src="~/Images/@item.Product.ProfileImage"></div>
                            <div class="col-sm-2">
                                @* <div class="row text-muted">@item.Product.Cid</div>*@
                                <a></a> <div class="row">@item.Product.Pname</div>
                            </div>
                            <div class="col-sm-2">
                                ₹@item.Product.Pprice
                            </div>
                            <div class="col-sm-1">
                                X
                            </div>
                            <div class="col-sm-2">

                                <form asp-action="updatecart" asp-controller="Customer" asp-route-CartId="@item.CartId">
                                    <div class="quantity">
                                        <input type="number" value="@item.Qauntity_Cart" min="1" max="10" class="quantity-field" name="itemQauntity">
                                    </div>
                                    <div>
                                        <input type="submit" value="Update" />
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-1">
                                =
                            </div>
                            @{
                                var subtotal = @item.Product.Pprice * @item.Qauntity_Cart;
                                <div class="col-sm-2">₹@subtotal</div>
                            }

                            <div class="w-100 d-flex align-items-end justify-content-end">
                                <a class="btn btn-danger" asp-action="RemoveCartItem" asp-controller="Customer" asp-route-id="@item.CartId">Remove</a>

                            </div>


                        </div>
                    </div>

                }
            }
            else
            {
                @* <div>
                <h1>No Data Available here</h1>
            </div>*@
                <div class="container-fluid mt-100">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body cart">
                                    <div class="col-sm-12 empty-cart-cls text-center">
                                        <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                                        <h3><strong>Your Cart is Empty</strong></h3>
                                        <h4>Add something to make me happy :)</h4> <a asp-action="ShopProduct" asp-controller="Home" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <style>

                    .mt-100 {
                        margin-top: 100px
                    }

                    .card {
                        margin-bottom: 30px;
                        border: 0;
                        -webkit-transition: all .3s ease;
                        transition: all .3s ease;
                        letter-spacing: .5px;
                        border-radius: 8px;
                        -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
                        box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05)
                    }

                        .card .card-header {
                            background-color: #fff;
                            border-bottom: none;
                            padding: 24px;
                            border-bottom: 1px solid #f6f7fb;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px
                        }

                    .card-header:first-child {
                        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
                    }

                    .card .card-body {
                        padding: 30px;
                        background-color: transparent
                    }

                    .btn-primary,
                    .btn-primary.disabled,
                    .btn-primary:disabled {
                        background-color: #4466f2 !important;
                        border-color: #4466f2 !important
                    }
                </style>
            }


            <div class="back-to-shop"><a asp-action="ShopProduct" asp-controller="Home">&leftarrow;<span class="text-muted">Back to shop</span></a></div>
        </div>
        <div class="col-md-3 summary">
            <div>
                <h5><b>Summary</b></h5>
            </div>
            <hr>

            <div class="row">
                <div class="col" style="padding-left:0;">ITEMS @ViewBag.CountCart </div>
                <div class="col text-right">₹ @ViewBag.sum</div>
            </div>


            @if (ViewBag.sum >= 80000)
            {

                <div class="row">
                    <div class="col" style="padding-left:0;">Delivery</div>
                    <div class="col text-right">Free</div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col" style="padding-left:0;">Delivery</div>
                    <div class="col text-right">₹ @ViewBag.DeliveryCharge</div>
                </div>

            }

            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col-7 p-0">TOTAL PRICE</div>
                <div class="col-5 p-0 text-right">₹@ViewBag.Grantotal</div>
                @*<a type="submit" class="btn btn-danger w-100" asp-action="ManageCart" asp-controller="Customer">Go to cart</a>*@
            </div>

       @if(ViewBag.CountCart<=0)
        {

            <a asp-action="CustomerAddress"  asp-controller="Customer" asp-route-Grantotal="@ViewBag.Grantotal"><button type="submit" disabled="disabled" class="btn-checkout">CHECKOUT</button></a>

        }
        else
        {
            <a asp-action="CustomerAddress" asp-controller="Customer" asp-route-Grantotal="@ViewBag.Grantotal"><button type="submit" class="btn-checkout">CHECKOUT</button></a>

        }

           @* <a asp-action="CustomerAddress" asp-controller="Customer" asp-route-Grantotal="@ViewBag.Grantotal"><button type="submit" disabled="disabled" class="btn-checkout">CHECKOUT</button></a>*@

        </div>
        
    </div>
</div>
<script type='text/javascript'
        src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
<script type='text/javascript' src=''></script>
<script type='text/javascript' src=''></script>
<script type='text/Javascript'></script>