@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "ShowAllUsers";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th> 
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>

        @if (User != null)
        {

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                    <td>
                        <a asp-action="EditUsers" asp-route-id="@item.Id">Edit</a> |
                       @* <a asp-action="DetailsUsers" asp-route-id="@item.Id">Details</a>*@ |
                        <a asp-action="DeleteUsers" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }

        }
        else
        {
        <td><h3>No Users Available yet</h3></td>
    }

   </tbody>
</table>

