@model IEnumerable<WebgentalIdentity.Models.Category>

@{
    ViewData["Title"] = "ViewCategory";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
    int SR = 1;
}
<table class="table">
    <thead>
        <tr>
            <th>
                SR
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Cname)*@
                @*<a asp-action="ViewCategory" asp-route-sortOrder="@ViewBag.NameSortParam"></a>*@
                <a asp-action="ViewCategory" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Cname)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @SR

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cname)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Cid">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Cid">Delete</a>
                </td>
            </tr>
            SR++;
        }
    </tbody>
</table>